.advantage {
    padding: 58px 0 51px 0;
    background-color: #f3f3f3;
    min-height: 590px;
    &__title {
        text-transform: uppercase;
        text-align: center;
        color: $second-color;
    }
    &__list {
        padding-left: 0;
        display: grid;
        grid-template-columns: repeat(2, 500px);
        grid-auto-rows: auto;
        justify-content: space-between;
        list-style-type: none;
        &-item {
            margin-top: 35px;
            display: flex;
        }
        &-wrapper {
            padding-left: 15px;
        }
        &-title {
            color: $main-color;
        }
        &-descr {
            font-size: 14px;
            color: #3a3a3a;
            margin-bottom: 0;
        }
    }
}

