.carousel {
    padding: 31px 0 0 0;
    &__inner {
        position: relative;
        width: 100%;
        margin: 0 auto;
        &-img {
            width: 120px;
            height: 120px;
            display: block;
            margin: 0 auto;
            img {
                border-radius: 100%;
            }
        }
        &-title {
            margin-top: 19px;
            text-align: center;
        }
        &-descr {
            text-align: center;
            text-align: justify;
            font-size: 14px;
        }
        
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 14%;
        background-color: transparent;
        border: none;
        z-index: 2;
    }
    .slick-prev {
        left: 44%;
    }
    .slick-next {
        right: 44%;
    }


    .slick-slide {
        opacity: 0.3;
        .sl_little {
            width: 380px;
            margin: 0 auto;
        }
        .sl_img {
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            img {
                width: 100%;
            }
        }
        .title {
            font-size: 14px;
        }
        .sl_descr {
            font-size: 10px;
        }

    }
    .slick-center {
        opacity: 1;
        .sl_little {
            width: 100%;
            margin: 0 auto;
        }
        .sl_img {
            width: 120px;
            height: 120px;
        }
        .title {
            font-size: 18px;
        }
        .sl_descr {
            font-size: 14px;
        }
        
    }
    li {
        button {
            display: none;
        }
    }
}
