.feed-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 6px;
    column-gap: 4px;
    input {
        border: 1px solid #898989;
        border-radius: 50px;
        width: 270px;
        height: 46px;
        padding: 0 20px;
        font-size: 12px;
    }
    textarea {
        width: 815px;
        height: 74px;
        border-radius: 10px;
        padding: 10px 18px;
        resize: none;
        font-size: 13px;
    }
    .little {
        width: 270px;
    }
}