.manager {
    min-height: 342px;
    padding: 58px 0 75px 0;
    background: url('../img/bg/manager_bg.jpg') center (center/cover) no-repeat;
    &__round {
        width: 102px;
        height: 102px;
        border: 1px solid white;
        margin: 0 auto;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title {
        color: white;
        text-align: center;
        margin-top: 20px;
    }
    &__tagline {
        width: 984px;
        margin: 0 auto;
        text-align: center;
        color: white;
        margin: 13px auto 0 auto;
    }
}