@media (max-width: 1619px) {
    .reviews {
        .container {
            width: 1440px;
        }
    }
    .carousel {
        .slick-prev {
            left: 43%;
        }
        .slick-next {
            right: 43%;
        }
    }
    
}
@media (max-width: 1459px) {
    .reviews {
        .container {
            width: 1180px;
        }
    }
    .carousel {
        .slick-prev {
            left: 42%;
        }
        .slick-next {
            right: 42%;
        }
        .slick-slide {
            .sl_little {
                width: 300px;
                .sl_descr {
                    font-size: 8px;
                }
            }
        }
        .slick-center {
            .sl_little {
                width: 100%;
                .sl_descr {
                font-size: 12px;
                }
            }  
        }
    }
}
@media (max-width: 1199px) {
    .container {
        max-width: 100%;
    }
    .header {
        justify-content: space-between;
        &__logo {
            margin-right: 0px;
            width: 80px;
            height: 80px;
        }
        &__menu {
            padding: 0px;
            column-gap: 7px;
            &-item {
                padding-right: 7px;
            }
        }
        &__call {
            margin: 0 0 16px 0;
            &-tel {
                font-size: 15px;
            }
        }
        &__btn {
            margin: 0 0 16px 0;
        }
    }
    .promo {
        &__descr {
            grid-template-columns: repeat(4,210px)
        }
    }
    .advantage {
        &__list {
            grid-template-columns: repeat(2,440px);
        }
    }
    .works {
        padding: 40px 10px 20px 10px;
        &__wrapper {
            flex-wrap: wrap;
            justify-content: space-around;
            &-items {
                margin: 0 15px 15px 15px;
            }
        }
        &__tagline {
            width: 100%;
        }
    }
    .agent {
        padding: 58px 20px 75px 20px;
        &__tagline {
            width: 100%;
        }
    }
    .delivery {
        padding: 53px 15px 58px 15px;
        &__list {
            flex-wrap: wrap;
            justify-content: center;
            &-item {
                margin: 30px 60px;
            }
        }
    }
    .manager {
        padding: 58px 15px 75px 15px;
        &__tagline {
            width: 100%;
        }
    }
    .scheme {
        padding: 51px 15px 46px 15px;
    }
    .carousel {
        .slick-slide {
            opacity: 1;
            .sl_little {
                width: 603px;
                margin: 0 auto;
                .sl_descr {
                    font-size: 14px;
                }
            }
            .sl_img {
                width: 120px;
                height: 120px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                img {
                    width: 100%;
                }
            }
            .title {
                font-size: 18px;
            }
        }
        .slick-dots {
            position: absolute;
            left: 50%;
            transform: rotate(270deg);
        }
        .slick-prev {
            left: 41%;
        }
        .slick-next {
            right: 41%;
        }
    }
    .footer {
        &__wrapper {
            &-first_line {
                justify-content: center;
            }
            &-title {
                width: 410px;
            }
        }
        &__call {
            margin: 0px 20px 16px 35px;
        }
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 100%;
    }
    .promo {
        padding: 23px 10px 10px 10px;
        &__tagline {
            font-size: 21px;
        }
        &__dividers {
            &-divider {
                width: 250px;
            }
        }
        &__descr {
            grid-template-columns: repeat(2, 210px);
            grid-template-rows: auto;
            justify-content: center;
            column-gap: 70px;
            row-gap: 10px;
        }
    }
    .header {
        justify-content: center;
        column-gap: 9px;
        &__menu {
            column-gap: 6px;
            &-item {
                padding-right: 6px;
            }
            &-link {
                font-size: 11px;
            }
        }
        &__call {
            &-question {
                font-size: 12px;
            }
            &-tel {
                font-size: 12px;
            }
        }
    }
    .btn {
        width: 110px;
        font-size: 9px;
        &-big {
            font-weight: 700;
            width: 230px;
            height: 57px;
            font-size: 15px;
        }
        &-long {
            width: 180px;
            font-size: 12px;
        }
    }
    .title {
        &_fz72 {
            font-size: 54px;
        }
    }
    .subtitle {
        &_fz42 {
            font-size: 31px;
        }
    }
    .advantage {
        padding: 45px 10px 40px 10px;
        &__list {
            grid-template-columns: repeat(2, auto);
            column-gap: 50px;
        }
    }
    .reviews {
        padding: 51px 25px 35px 25px;
    }
    .carousel {
        .slick-prev {
            left: 37%;
        }
        .slick-next {
            right: 37%;
        }
    }
    .delivery {
        &__list {
            &-item {
                margin: 30px 40px;
            }
        }
    }
    .question {
        &__wrapper {
            width: 650px;
            padding: 0 0 20px 0;
        }
    }
    .feed-form {
        column-gap: 50%;
        textarea {
            width: 270px;
            height: 100px;
        }
    }
    .footer {
        &__wrapper {
            &-title {
                width: 280px;
            }
        }
    }
}
@media (max-width: 767px) {
    .promo {
        &__tagline {
            font-size: 17px;
            margin-top: 15px;
        }
        &__title {
            margin: 5px 0 0 0;
        }
        &__subtitle {
            margin-top: 5px;
        }
        &__dividers {
            margin-top: 25px;
        }
    }
    .header {
        justify-content: start;
        position: relative;
        &__menu {
            display: block;
            text-align: end;
            line-height: 50px;
            position: fixed;
            top: 0;
            left: -100%;
            width: 50%;
            height: 100vh;
            padding: 70px 15px;
            background-color: rgba(20, 20, 20, 0.95);
            transition: 0.6s all;
            &-item {
                padding-right: 0;
                border-right: none;
                height: 50px;
            }
            &-link {
                font-size: 26px;
            }
            &_active {
                left: 0;
            }
        }
        &__hamburger {
            display: block;
            position: absolute;
            right: 10px;
            top: 0;
            width: 40px;
            cursor: pointer;
            height: 21px;
            span {
                display: block;
                height: 4px;
                width: 100%;
                background-color: $main-color;
                margin-bottom: 4px;
                transition: 0.5s all;
            }
            &_active {
                span {
                    margin-bottom: -2px;
                    &:nth-child(1) {
                        transform: translateY(5px) rotate(-45deg);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: translateY(3px) rotate(45deg);
                    }
                }
            }
        }
    }
    .title {
        &_fz72 {
            font-size: 40px;
        }
    }
    .subtitle {
        &_fz42 {
            font-size: 23px;
        }
    }
    .advantage {
        &__list {
            grid-template-columns: auto;
        }
    }
    .delivery {
        &__tagline {
            width: 100%;
        }
    }
    .feed-form {
        flex-wrap: wrap;
        row-gap: 15px;
    }
    .btn {
        &-long {
            width: 180px;
        }
    }
    .carousel {
        .slick-slide {
            .sl_little {
                width: 100%;
            }
        }
        .slick-prev {
            left: 33%;
        }
        .slick-next {
            right: 33%;
        }
    }
    .question {
        &__wrapper {
            width: 520px;
            padding: 0 0 20px 0;
        }
    }
    .feed-form {
        textarea {
            width: 270px;
        }
    }
    .footer {
        &__wrapper {
            &-title {
                display: none;
            }
        }
    }
}
@media (max-width: 575px) {
    .promo {
        &__tagline {
            display: none;
        }
        &__title {
            margin: 30px 0 0 0;
        }
        &__dividers {
            &-divider {
                width: 110px;
            }
        }
        &__descr {
            grid-template-columns: 280px;
            margin: 31px 0 31px 0;
            &-wrapper {
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .header {
        &__menu {
            width: 75%;
        }
        justify-content: space-between;
        &__call {
            margin: 38px 0 0 0;
        }
        &__btn {
            display: none;
        }
    }
    .works {
        &__wrapper {
            width: 280px;
            margin: 20px auto 0 auto;
        }
    }
    .delivery {
        &__subtitle {
            margin-top: 0;
        }
    }
    .feed-form {
        input {
            width: 240px;
        }
        textarea {
            width: 240px;
        }
    }

    .title {
        &_fz72 {
            font-size: 33px;
        }
        &_fz26 {
            font-size: 20px;
        }
    }
    .subtitle {
        &_fz42 {
            font-size: 13px;
        }
        &_fz28 {
            font-size: 20px;
        }
        &_fz16 {
            font-size: 16px;
        }
    }
    .tagline {
        &_fz21 {
        font-size: 15px;
        }
        &_fz19 {
            font-size: 13px;
        }
    }
    .carousel {
        .slick-slide {
            .sl_little {
                width: 250px;
                text-align: center;
            }
        }
        .slick-prev {
            left: 17%;
            top: 10%;
        }
        .slick-next {
            right: 17%;
            top: 10%;
        }
    }
    .question {
        &__wrapper {
            width: 280px;
        }
    }
    .footer {
        &__wrapper {
            &-first_line {
                justify-content: space-between;
            }
            &-img {
                margin: 0;
            }
            &-first_block {
                width: 380px;
                flex-wrap: wrap;
            }
            &-scratch {
                margin-right: 15px;
            }
            &-policy {
                margin-right: 15px;
                font-size: 10px;
            }
            &-second_block {
                span {
                    font-size: 10px;
                }
                img {
                    margin-left: 5px;
                }
            }
        }
        &__btn {
            display: none;
        }
        &__call {
            &-tel {
                font-size: 17px;
            }
        }
    }
    .modal {
        &__wrapper {
            width: 280px;
            &-header {
                min-height: 65px;
            }
            &-title {
                font-size: 18px;
            }
            &-subtitle {
                font-size: 11px;
            }
        }
        &__close {
            display: none;
        }
    }
    .feed-form {
        .little {
            width: 240px;
            height: 60px;
        }
    }
}