.reviews {
    .container {
        width: 1600px;
    }
    padding: 51px 0 35px 0;
    &__title {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        color: #2e2e2e;
    }
    &__tagline {
        width: 100%;
        text-align: center;
        color: #2e2e2e;
    }
    &__image {
        width: 14px;
        height: 46px;
    }
}