.scheme {
    min-height: 454px;
    padding: 51px 0 46px 0;
    background-color: #f3f3f3;
    &__title {
        text-align: center;
        text-transform: uppercase;
        color: #2e2e2e;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        list-style-type: none;
        justify-content: center;
        gap: 20px 30px;
        margin-top: 33px;
        &-item {
            width: 262px;
            
        }
        &-icon {
            width: 58px;
            height: 58px;
            margin: 0 auto;
            img {
                width: 100%;
                object-fit: none;
            }
        }
        &-title {
            margin: 6px 0 4px 0;
            text-align: center;
            color: $main-color;
        }
        &-descr {
            text-align: center;
            font-size: 14px;
            color: #3a3a3a;
            margin-bottom: 0;
        }
    }
}